.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0;
}

.markdown-embed .markdown-preview-view {
    padding: 0px 0px 0px 0px;
}

.markdown-embed-content > .markdown-preview-view > .markdown-preview-sizer > .markdown-preview-section > p {
    padding-right: 45px;
}