/* hide the names of cards (since they are redundant with my cards' primary headers) */
.page-header {
    display: none;
}

/* hide the index in the navigation pane */
.nav-view-outer {
  display: none;
}

.published-container .backlinks {
    margin-top: 80px;
}