/* hide the names of cards (since they are redundant with my cards' primary headers) */
.page-header {
    display: none;
}

/* hide the index in the navigation pane */
.nav-view-outer {
  display: none;
}

.published-container .backlinks {
    margin-top: 80px;
}

/* fixing issues with `my-Obsidianite-customization.css` exclusive to Obsidian Publish */
.markdown-preview-view h2:after,
.markdown-preview-view h3:after,
.markdown-preview-view h4:after,
.markdown-preview-view h5:after,
.markdown-preview-view h6:after {
    display: none;
}